html {
	overflow-x: hidden;
}

body {
	font-family: 'geomanistregular', sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	color: #fff;
	padding: 30px;
	background-color: #231f20;
	transition: background-color .5s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.light {
	background-color: #fff;
	color: #231f20;
}

.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}
.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity .5s ease;
}
.loader .loader__icon svg {
  transform-origin: 0 0;
}
.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #1f1c1d;
  transition: width .7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__icon {
  opacity: 1;
  transition: opacity .5s 1.4s ease;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

.cursor {
	display: none;
}

.border {
	position: fixed;
	background-color: #1f1c1d;
	z-index: 999999;
	transition: background-color .5s;
	border: none !important;
}

.border.light {
	background-color: #f5f5f5;
}

#top {
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

#left {
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
}

#right {
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
}

#bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

a {
	color: #fff;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
	outline: none;
}

a:hover, a:focus {
	color: #89724E;
	text-decoration: none;
	outline: 0;
}

.light a {
	color: #231f20;
}

.light a:hover, .light a:focus {
	color: #89724E;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 48px;
	line-height: 48px;
}

h2 {
	font-size: 40px;
	line-height: 48px;
	margin-top: 0;
	font-family: 'geomanistbook', sans-serif;
}

p {
	margin-top: 5px;
}

ul.list {
	margin: 0 0 1em 0;
	padding: 0;
}

ul.list li {
	list-style: none;
}

blockquote {
	padding: 0;
	margin: 0;
	border: 0;
}

.author {
	padding: 15px 0 30px 0;
}

.header {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	display: block;
	width: 100%;
}

.logo {
	margin: 0;
}

.logo a {
	font-size: 36px;
	line-height: 70px;
	color: #231f20;
	max-width: 190px;
	display: block;
}

.logo img {
	vertical-align: unset;
}

.topnav {
	float: right;
	margin: 0;
	line-height: 70px;
	height: 70px;
}

.topnav ul {
	margin: 0;
	padding: 0;
}

.topnav li {
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
}

.topnav li a {
	color: #fff;
}

.topnav li a:hover {
	color: #ad9571;
}

.large {
	line-height: 70px;
	letter-spacing: -1px;
	font-family: 'geomanistbook', sans-serif;
	font-size: 60px;
	margin: .67em 0;
	display: block;
}

.large:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1.6em;
	width: 1.3em;
	background: #1f1c1d;
	-webkit-transform: skewX(-21deg);
	transform: skewX(-21deg);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	z-index: -1;
}

.large span {
	display: block;
	font-size: 18px;
	line-height: 39px;
	font-family: 'geomanistregular', sans-serif;
	letter-spacing: 0;
	text-transform: none;
}

.subtitle {
	font-size: 18px;
	line-height: 39px;
	font-family: 'geomanistregular', sans-serif;
	letter-spacing: 0;
	text-transform: none;
}

.title:after {
	position: static;
}

body.light .large:after {
	background: #f5f5f5;
}

body.light .large,
body.light h2 {
	font-family: 'geomanistmedium', sans-serif;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.lowercase {
	text-transform: lowercase;
}

.top {
	padding: 0 0 30px 0;
	margin: 13px 0;
}

.bottom {
	margin-bottom: 60px;
}

.last {
	padding-bottom: 90px;
}

section {
	padding: 30px 0 60px 0;
}

.email {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0;
	display: block;
	padding-bottom: 30px;
}

.email i {
	margin-right: 5px;
	font-size: 24px;
	vertical-align: bottom;
}

.gallery {
	margin: 20px 0 80px 0;
}

.gallery-cell {
	width: 70%;
	margin: 0;
}

.flickity-prev-next-button {
	display: none;
}

.flickity-page-dots {
	bottom: -40px !important;
}

.flickity-page-dots .dot {

}

@media (any-pointer: fine) {
	.cursor {
		display: block;
	}
	.cursor__inner {
		z-index: 999999;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: difference;
		border-radius: 50%;
	}
	.cursor__inner--circle {
		width: 10px;
		height: 10px;
		background: #ad9571;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px !important;
	}
}

@media only screen and (max-width: 1200px) {
	.large:after {
		position: static;
	}
}

@media only screen and (max-width: 1025px) {
	body {
		border: none;
		padding: 15px;
	}
	.border {
		display: none;
	}
	.header {
		margin-top: 15px;
	}
	section {
		padding: 15px 0 30px 0;
	}
}

@media only screen and (max-width: 769px) {
	.logo {
		max-width: 150px;
	}
	h1, .large {
		font-size: 48px;
		line-height: 54px;
	}
	.about h2,
	.about p {
		margin-bottom: 30px;
	}
	h2 {
		line-height: 48px;
		word-wrap: break-word;
	}
	.header {
		margin-top: 0;
	}
	.email {
		margin-top: 30px;
	}
	.large:after {
		position: static;
	}
	.gallery-cell {
		width: 100% !important;
	}
	.bottom {
		margin-bottom: .67em;
	}
}

::-moz-selection {
    text-shadow: none;
	color: #fff;
    background: #231f20;
}

::selection {
    text-shadow: none;
	color: #fff;
    background: #231f20;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}