body {
	font-family: 'geomanistregular', sans-serif;
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	padding: 30px;
	background-color: #231f20;
	transition: background-color .5s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body.light {
	background-color: #fff;
	color: #231f20;
}

.border {
	position: fixed;
	background-color: #1f1c1d;
	z-index: 999999;
	transition: background-color .5s;
}

.border.light {
	background-color: #f5f5f5;
}

#top {
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

#left {
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
}

#right {
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
}

#bottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

#particle-container {
	position: fixed;
	width: 100%;
	height: 100%;
}

body a {
   cursor: url(../img/cursor-f-1x.png) 6 6,auto;
   cursor: -webkit-image-set(url(../img/cursor-f-1x.png) 1x,url(../img/cursor-f-2x.png) 2x) 6 6,auto;
}

body {
    cursor: url(../img/cursor-o-1x.png) 6 6,default;
    cursor: -webkit-image-set(url(../img/cursor-o-1x.png) 1x,url(../img/cursor-o-2x.png) 2x) 6 6,default;
}

a {
	color: #231f20;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover, a:focus {
	color: #111;
	text-decoration: none;
	outline: 0;
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 48px;
	line-height: 48px;
}

h2 {
	font-size: 40px;
	line-height: 48px;
	margin-top: 0;
	font-family: 'geomanistmedium', sans-serif;
	letter-spacing: -0.5px;
}

p {
	margin-top: 5px;
}

blockquote {
	padding: 0;
	margin: 0;
	border: 0;
}

.author {
	padding: 15px 0 30px 0;
}

.header {
	margin-top: 30px;
	float: left;
	width: 100%;
}

.logo {
	margin: 0;
}

.logo a {
	font-size: 36px;
	line-height: 70px;
	color: #231f20;
	max-width: 180px;
	float: left;
}

.logo img {
	vertical-align: unset;
}

.topnav {
	float: right;
	margin: 0;
	line-height: 70px;
	height: 70px;
}

.topnav ul {
	margin: 0;
	padding: 0;
}

.topnav li {
	list-style-type: none;
	display: inline-block;
	margin-left: 20px;
}

.topnav li a {
	color: #fff;
}

.topnav li a:hover {
	color: #ad9571;
}

.large {
	line-height: 68px;
	letter-spacing: -1px;
	font-family: 'geomanistmedium', sans-serif;
	font-size: 60px;
	margin: .67em 0;
	display: block;
}

.large:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 2em;
	width: 1.5em;
	background: #1f1c1d;
	-webkit-transform: skewX(-21deg);
	transform: skewX(-21deg);
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom;
	z-index: -1;
}

body.light .large:after {
	background: #f5f5f5;
}

body.light .large,
body.light h2 {
	font-family: 'geomanistmedium', sans-serif;
}

.lowercase {
	text-transform: lowercase;
}

.top {
	padding-top: 60px;
}

.bottom {
	padding-bottom: 30px;
	margin-top: 10px;
}

.last {
	padding-bottom: 90px;
}

section {
	padding: 30px 0 60px 0;
}

.email {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0;
	display: block;
}

.email i {
	margin-right: 5px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 1025px) {
	body {
		border: none;
		padding: 15px;
	}
	.border {
		display: none;
	}
	.header {
		margin-top: 15px;
	}
	section {
		padding: 15px 0 30px 0;
	}
	.top {
		padding-top: 90px;
	}
	.bottom {
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 769px) {
	.logo {
		max-width: 150px;
	}
	h1, .large {
		font-size: 40px;
	}
	.about h2,
	.about p {
		margin-bottom: 30px;
	}
	.large,
	h2.large, h2 {
		line-height: 48px;
		word-wrap: break-word;
	}
	.header {
		margin-top: 0;
	}
	.email {
		margin-top: 30px;
	}
}

::-moz-selection {
    text-shadow: none;
	color: #fff;
    background: #231f20;
}

::selection {
    text-shadow: none;
	color: #fff;
    background: #231f20;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #231f20;
}