@import url("https://fonts.googleapis.com/css?family=Manrope:400|Inter:400,500,600|IBM+Plex+Mono:400,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  transition: 0.3s;
}

.container {
  margin: auto;
  position: relative;
  transition: 0.3s;
}

.glass {
  background-color: #ffffff10;
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.08);
  transition: 0.3s;
}

.card {
  max-width: 340px;
  min-width: 340px;
  margin: auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  -webkit-animation: fadeIn 0.6s both;
  animation: fadeIn 0.6s both;
  /* margin-top: -87px; */
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card.reposition {
  margin-top: 0;
}

.card[data-state="#profile"] {
  height: 450px;
}

.card[data-state="#profile"] .card-main {
  padding-top: 0;
}

.card[data-state="#contact"] {
  height: 450px;
}

.card[data-state="#experience"] {
  height: 450px;
}

.card.is-active .card-header {
  height: 80px;
}

.card.is-active .card-avatar {
  -webkit-transform: none;
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.card.is-active .card-fullname,
.card.is-active .card-jobtitle {
  left: 86px;
  -webkit-transform: none;
  transform: none;
}

.card.is-active .card-fullname {
  bottom: 20px;
  font-size: 1.1875em;
}

.card.is-active .card-jobtitle {
  bottom: 15px;
  letter-spacing: 1px;
  font-size: 0.6875em;
}

.card-header {
  position: relative;
  display: -webkit-box;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-header * {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-64px);
  transform: translateX(-50%) translateY(-64px);
}

.card-avatar:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 5px;
  height: 5px;
  background-color: red;
}

.card-fullname {
  position: absolute;
  bottom: 0;
  font-size: 1.375em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  -webkit-transform: translateY(-10px) translateX(-50%);
  transform: translateY(-10px) translateX(-50%);
  left: 50%;
  margin: 0.67em 0;
}

.card-jobtitle {
  position: absolute;
  bottom: 0;
  font-size: 0.75em;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.4;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-7px);
  transform: translateX(-50%) translateY(-7px);
}

.card-main {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.card-subtitle {
  font-weight: 700;
  font-size: 0.8125em;
  margin-bottom: 8px;
  display: none;
}

.card-content {
  padding: 20px;
}

.card-desc {
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875em;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.card-social {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.card-social svg {
  fill: rgba(255, 255, 255, 0.5);
  width: 24px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-social a {
  color: rgba(255, 255, 255, 0.5);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #000;
  border-radius: 50%;
  margin-right: 10px;
}

.card-social a:hover {
  border: none;
}

.card-social a:hover svg {
  fill: #fff;
}

.card-social a:last-child {
  margin-right: 0;
}

.card-buttons {
  display: -webkit-box;
  display: flex;
  margin-top: auto;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.card-buttons button {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  border: 0;
  padding: 20px 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: 0;
  border-bottom: 1px solid transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card-buttons button.is-active,
.card-buttons button:hover {
  color: #fff;
  position: relative;
}

.card-buttons button.is-active:before,
.card-buttons button.is-active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(77, 161, 169, 0) 0%, rgba(77, 161, 169, 0.75203) 38.288288288288285%, rgb(77, 161, 169) 50.9132179054054%, rgba(77, 161, 169, 0.75248) 63.06306306306306%, rgba(77, 161, 169, 0) 100%);
  background-repeat: no-repeat;
  background-position-y: 100%;
  animation: fadeIn 0.6s forwards;
}

.card-buttons button.is-active:before {
  background-size: 100% 1px !important;
  filter: blur(1px);
}

.card-buttons button.is-active:after {
  background-size: 100% 4px !important;
  filter: blur(8px);
}

.card-section {
  display: none;
}

.card-section.is-active {
  display: block;
  -webkit-animation: cardFadeIn 0.6s both;
  animation: cardFadeIn 0.6s both;
}

@-webkit-keyframes cardFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translatey(40px);
    transform: translatey(40px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes cardFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translatey(40px);
    transform: translatey(40px);
  }

  100% {
    opacity: 1;
  }
}

.card-timeline {
  margin-top: 0;
  position: relative;
}

.card-timeline:after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(77, 161, 169, 0)), to(#4da1a9));
  background: linear-gradient(to top, rgba(77, 161, 169, 0) 0%, #4da1a9 100%);
  content: "";
  left: 42px;
  width: 1px;
  top: 3px;
  height: 100%;
  position: absolute;
  content: "";
}

.card-item {
  position: relative;
  padding-left: 60px;
  padding-bottom: 20px;
  z-index: 1;
}

.card-item:last-child {
  padding-bottom: 0;
}

.card-item:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 8px;
  height: 8px;
  line-height: 0.6;
  border: 2px solid #171717;
  font-size: 0.6875em;
  text-indent: -35px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.4);
  background-color: #4da1a9;
  font-family: 'Manrope', sans-serif;
}

.card-item-title {
  font-weight: 500;
  font-size: 0.875em;
  margin-bottom: 5px;
  color: #fff;
}

.card-item-desc {
  font-size: 0.8125em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

.card-contact-wrapper {
  margin-top: 0;
}

.card-contact {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.8125em;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.card-contact+.card-contact {
  margin-top: 16px;
}

.card-contact svg {
  flex-shrink: 0;
  width: 30px;
  min-height: 34px;
  margin-right: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-right: 12px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  color: #4da1a9;
}

.contact-btn {
  border: 0;
  outline: none;
  background-color: #000;
  color: rgba(255, 255, 255, 0.5);
  padding: 12px 16px;
  width: 100%;
  border-radius: 40px;
  max-height: 40px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 0.875em;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-btn:hover,
.contact-btn:focus {
  color: rgba(255, 255, 255, 0.7);
}

.number {
  font-family: 'Manrope', sans-serif;
}

.bubble {
  max-width: 340px;
  min-height: 67px;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  font-size: 0.875em;
  line-height: 1.6;
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
  transition: 0.3s;
  position: relative;
  transition: 0.3s;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.4);
  transform: scale(0);
  opacity: 0;
}

.bubble .text {
  max-width: 260px;
  display: flex;
}

.bubble-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  line-height: 1.25;
}

.bubble-info .link {
  padding: 5px 15px;
  color: #4da1a9;
  background: #000;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  font-size: 0.8125em;
  max-width: 165px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bubble-info .link:hover,
.bubble-info .link:focus {
  color: #fff;
}

.bubble-info .date {
  display: inline-block;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  opacity: 0.6;
  font-family: 'Manrope', sans-serif;
}

.bubble a:hover,
.bubble a:focus {
  color: #fff;
  border: none;
}

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes scaleIn {
  from {
    -moz-transform: scale(0);
  }

  to {
    -moz-transform: scale(1);
  }
}

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.bubble.fade-in {
  -webkit-animation: scaleIn 0.4s ease-in-out forwards;
  -moz-animation: scaleIn 0.4s ease-in-out forwards;
  animation: scaleIn 0.4s ease-in-out forwards;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  opacity: 1;
}

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1);
  }

  to {
    -webkit-transform: scale(0);
  }
}

@-moz-keyframes scaleOut {
  from {
    -moz-transform: scale(1);
  }

  to {
    -moz-transform: scale(0);
  }
}

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.bubble.fade-out {
  -webkit-animation: scaleOut 0.4s ease-in-out forwards;
  -moz-animation: scaleOut 0.4s ease-in-out forwards;
  animation: scaleOut 0.4s ease-in-out forwards;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
}

#close {
  text-decoration: none;
  font-size: 1.125em;
  line-height: 0.875em;
  padding: 15px;
  position: absolute;
  top: 10px;
  right: 5px;
  color: #fff;
  opacity: 0.6;
  cursor: pointer;
}

#close:hover,
#close:focus {
  opacity: 1;
}

.godrays {
  position: absolute;
  overflow: hidden;
  inset: -10px;
}

@keyframes beams {
  from {
    background-position: 50% 50%, 50% 50%;
  }

  to {
    background-position: 350% 50%, 350% 50%;
  }
}

.beams {
  position: absolute;
  inset: -10px;
  opacity: 0.2;
}

.beams {
  --stripes: repeating-linear-gradient(100deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%);
  --stripesDark: repeating-linear-gradient(100deg,
      #000 0%,
      #000 7%,
      transparent 10%,
      transparent 12%,
      #000 16%);
  --rainbow: repeating-linear-gradient(100deg,
      #60a5fa 10%,
      #e879f9 15%,
      #60a5fa 20%,
      #5eead4 25%,
      #60a5fa 30%);
  background-image: var(--stripes), var(--rainbow);
  background-size: 300%, 200%;
  background-position: 50% 50%, 50% 50%;
  filter: blur(10px) invert(100%);
  -webkit-mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);
  pointer-events: none;
}

.beams::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--stripes), var(--rainbow);
  background-size: 200%, 100%;
  animation: beams 60s linear infinite;
  background-attachment: fixed;
  mix-blend-mode: difference;
}

.dark .beams {
  background-image: var(--stripesDark), var(--rainbow);
  filter: blur(10px) opacity(50%) saturate(200%);
}

.dark .beams::after {
  background-image: var(--stripesDark), var(--rainbow);
}

canvas {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.kb {
  position: absolute;
  bottom: 40px;
  right: 20px;
  opacity: 0.1;
  z-index: 1;
  width: 100px;
  transition: 0.3s;
}

.kb:hover {
  opacity: 0.5;
}

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #000;
}

::selection {
  text-shadow: none;
  color: #fff;
  background: #000;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

@media only screen and (max-width: 1367px) {
  canvas {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .wrapper {
    padding: 20px 0;
  }
}