@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
	margin: 0px auto;
	overflow-x: hidden;
	background-color: #272822;
	font-family: 'Source Code Pro', monospace;
	color: #fff;
	font-size: 14px;
	line-height: 1.428571429;
} 

.white	{
	color: #fff;
}
.gray	{
	color: #8f908a;
}
.pink	{
	color: #d92672;
}
.yellow	{
	color: #e6db74;
}
.green	{
	color: #a6e22e;
}
.comment {
	color: #75715e;
}

.lines {
	display: block;
	float: left;
	width: 20px;
	margin-left: 10px;
	margin-top: 10px;
	padding-right: 20px;
	text-align: right;
	height: 100vh;
	overflow: hidden;
}

.lines p {
	margin: 0px;
}

article {
	display: block;
	width: 80vw;
	float: left;
	margin-top: 10px;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@media screen and (max-width: 779px) {
	.lines {
	height: 120vh;
	}

@media screen and (max-width: 670px) {
	article {
		width: 80vw;
	}
	.lines {
		width: 10vw;
		padding: 0;
		text-align: left;
	}
}

