.preloading,
.rotate-screen {
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    z-index: 5;
    pointer-events: none
}

.preloading .icon,
.rotate-screen .icon {
    opacity: .5;
    font-size: 64px;
    transform-origin: center
}

.button,
.unmute-btn,
input[type=range]:focus {
    outline: 0
}

.button,
.far-right,
.playback-status,
.seek,
.unmute-btn,
svg,
ul.menu li a {
    cursor: pointer
}

.marquee,
.unmute-btn {
    overflow: hidden;
    white-space: nowrap
}

.logo span,
body {
    text-transform: uppercase
}

html {
    scroll-behavior: smooth
}

body,
html {
    font-size: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden
}

*,
:after,
:before {
    box-sizing: border-box
}

:root {
    --torch-red: #780000;
    --blue: #03071e
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeout {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

a,
a:focus,
a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0
}

.m-0,
ul.menu li:first-child {
    margin: 0
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.-mt {
    margin-top: -6%
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px
}

.mr-5 {
    margin-right: 5px
}

.mr-10 {
    margin-right: 10px
}

.material-symbols-rounded {
    vertical-align: middle;
    margin-top: -2px
}

svg {
    width: 28px;
    height: 28px;
    fill: #fff;
    stroke: #fff
}

.rotate-screen {
    align-items: center;
    display: none
}

.preloading {
    display: flex;
    align-items: center
}

.preloading .icon {
    animation: 1s linear infinite rotate
}

.preloading .icon img,
.rotate-screen .icon img {
    height: 64px;
    width: 64px
}

.preloaded {
    opacity: 0;
    visibility: hidden
}

.logo,
ul.menu li a {
    opacity: .5;
    transition: .5s
}

@keyframes rotate {
    from {
        transform: rotate(45deg)
    }

    to {
        transform: rotate(405deg)
    }
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99
}

.lowerleft,
.lowerright,
ul.lowernav {
    bottom: 30px
}

.video-background iframe,
.video-foreground {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    pointer-events: none
}

.lowerleft,
.upperleft {
    left: 30px;
    position: fixed
}

.upperleft {
    top: 30px
}

.upperright {
    position: fixed;
    top: 30px;
    right: 30px
}

.lowerright {
    position: fixed;
    right: 30px
}

.logo {
    z-index: 4;
    margin: 0;
    height: auto;
    overflow: hidden;
    top: 50px;
    right: 50px;
    position: absolute;
    /* mix-blend-mode: difference */
}

.logo span {
    position: absolute;
    top: -10px;
    margin-left: 4px;
    font-size: 8px
}

.logo img {
    height: 100px;
    padding: 1px 0
}

ul.uppernav {
    position: absolute;
    top: 30px;
    left: 200px;
    z-index: 4
}

ul.lowernav {
    position: absolute;
    left: 30px
}

ul.menu {
    line-height: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    transition: .5s
}

ul.menu li {
    display: inline;
    list-style: none;
    margin-left: 15px
}

ul.menu li a {
    color: #fff;
    padding: 6px 0
}

#resume:hover+.logo,
.video-background:hover+#progressbar {
    opacity: 1
}

#resume {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2
}

.button.audio,
.text-red {
    color: var(--torch-red)
}

ul.menu li a:hover {
    opacity: 1;
    color: #fff
}

ul.menu li a.active {
    opacity: .8;
    color: var(--torch-red)
}

.expand {
    font-size: 20px
}

.opacity-full {
    transition: .5s;
    opacity: 1
}

.d-block,
.d-none,
.ios {
    display: none
}

.playback-animation,
.playback-status {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0
}

.unmute-btn,
.video-controls {
    position: absolute;
    left: 30px
}

.playback-status {
    pointer-events: auto;
    z-index: 5;
    opacity: 1;
    transition-delay: .5s;
    transition-duration: .5s
}

#progressbar,
.button * {
    pointer-events: none
}

.playback-status.hide {
    opacity: 0;
    transition: unset;
    z-index: -99
}

.unmute-btn {
    bottom: 80px;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 170px;
    height: 44px;
    z-index: 5;
    opacity: 1;
    transition: .5s
}

.button.audio,
.button.fs,
.button.play,
.current,
.ticker {
    color: #fff
}

.ticker,
.video-controls {
    transition: .5s;
    opacity: 1;
    z-index: 3
}

.unmute-btn span {
    font-size: 24px;
    margin-right: 10px
}

.unmute-btn.active {
    animation: .5s ease-in 8s forwards squarein
}

.unmute-btn.hide {
    opacity: 0;
    left: -200px
}

@keyframes squarein {
    0% {
        width: 170px
    }

    100% {
        width: 44px
    }
}

.video-controls {
    right: 30px;
    bottom: 30px
}

.ticker.hide,
.video-controls.hide {
    opacity: 0;
    z-index: 0
}

.bottom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.button {
    position: relative;
    margin-right: 10px;
    font-size: 28px !important;
    border: none;
    background-color: transparent;
    width: 35px;
    height: 35px
}

.current,
body {
    font-size: 14px
}

#videoprogress {
    position: relative;
    height: 5.4px;
    width: 100%;
    margin-right: 15px;
    background-color: #fff;
    margin-top: 1px
}

#progressbar,
.current,
.seek {
    position: absolute
}

#progressbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border-color: transparent;
    width: 100%;
    height: 5.4px;
    top: 0;
    background-color: var(--torch-red);
    color: var(--torch-red)
}

.seek {
    top: 0;
    width: 100%;
    margin: 0
}

.seek:hover+.current {
    display: block
}

.current {
    display: none;
    top: -50px;
    margin-left: 0;
    padding: 5px;
    content: attr(data-title);
    background-color: rgba(0, 0, 0, .6)
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5.4px;
    background: 0 0;
    cursor: pointer
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    border-radius: 0;
    transition: .5s
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: 0 0
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: var(--torch-red);
    cursor: pointer;
    margin-left: -1px;
    transition: .5s;
    opacity: 0;
    scale: 0.5
}

input[type=range]:hover::-webkit-slider-thumb {
    opacity: 1;
    scale: 1
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5.4px;
    cursor: pointer;
    border: 1px solid transparent;
    background: 0 0;
    border-radius: 1.3px
}

input[type=range]:focus::-moz-range-track {
    outline: 0
}

input[type=range]::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50px;
    border: 1px solid var(--torch-red);
    background: var(--torch-red);
    cursor: pointer;
    margin-top: 5px;
    transition: .5s;
    opacity: 0;
    scale: 0.5
}

input[type=range]:hover::-moz-range-thumb {
    opacity: 1;
    scale: 1
}

.button.fs {
    margin-right: 0
}

.button.play {
    margin-left: -10px
}

.ticker {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    overflow: hidden
}

.far-left,
.far-right {
    position: absolute;
    top: 0;
    padding: 15px;
    z-index: 1
}

.far-left {
    left: 0;
    width: 90px;
    background: var(--torch-red);
    text-align: left
}

.far-right {
    right: 0;
    width: auto;
    background: #090909;
    text-align: right
}

.marquee {
    padding: 15px 0;
    width: 100%;
    color: rgb(255, 255, 255, .8);
    background: rgb(0, 0, 0, .8);
    backdrop-filter: blur(20px)
}

@media screen and (min-width:320px) and (max-width:1025px) and (orientation:portrait) {
    .rotate-screen {
        display: flex
    }
}

@media (min-aspect-ratio:16/9) and (display-mode:browser) {

    .video-background iframe,
    .video-foreground {
        height: 300%;
        top: -100%
    }
}

@media (max-aspect-ratio:16/9) and (display-mode:browser) {

    .video-background iframe,
    .video-foreground {
        width: 300%;
        left: -100%
    }
}

@media (max-width:1601px) {

    .video-background iframe,
    .video-foreground {
        width: 100%;
        left: 0
    }
}

@media screen and (min-width:1179) and (max-width:1367px) {

    .video-background iframe,
    .video-foreground {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0
    }
}

@media (max-width:1367px) {
    body {
        -webkit-tap-highlight-color: transparent !important
    }

    .d-xl-block {
        display: block
    }

    .d-xl-none {
        display: none
    }
}

@media(max-width:993px) {
    ul.uppernav {
        top: 20px;
        left: 180px
    }

    .upperleft {
        top: 20px;
        left: 20px
    }

    .lowerleft {
        bottom: 20px;
        left: 20px
    }

    .upperright {
        top: 20px;
        right: 20px
    }

    .lowerright {
        position: absolute;
        bottom: 20px;
        right: 20px
    }

    .unmute-btn {
        bottom: 60px;
        left: 20px
    }

    input[type=range]::-moz-range-thumb,
    input[type=range]::-webkit-slider-thumb {
        opacity: 1;
        scale: 1
    }

    .video-controls {
        right: 20px;
        left: 20px;
        bottom: 20px
    }

    .content.left {
        left: 20px
    }

    .content.right {
        right: 20px
    }

    .far-left,
    .far-right {
        padding: 10px
    }

    .marquee {
        padding: 10px 0
    }

    .d-lg-block {
        display: block
    }

    .d-lg-none {
        display: none
    }
}

@media(max-width:769px) {
    .d-md-block {
        display: block
    }

    .d-md-none {
        display: none
    }
}

@media(max-width:577px) {
    .d-sm-block {
        display: block
    }

    .d-sm-none {
        display: none
    }
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #000
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #000
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    color: #fff;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    animation: 1s fadein;
    -webkit-tap-highlight-color: #000
}